<div class="aboutpage">
<section class="head">
<div class="slider">
      <ul>
        <li><img src="<%= asset_path('design1.jpg') %>"/></li>
        <li><img src="<%= asset_path('design2.jpg') %>"/></li>
        <li><img src="<%= asset_path('design3.jpg') %>"/></li>
        <li><img src="<%= asset_path('design4.jpg') %>"/></li>
        <li><img src="<%= asset_path('design5.jpg') %>"/></li>
      </ul>
    </div>
<div class="heading">
<h2>Simon Somlai</h2>
<h4>Web Developer & Writer<h4>
<hr class="dividertop"/>
<a href="#"><img class="downarrow" src="<%= asset_path('downarrow.png') %>"/></a>
</div>
</section>

<section class="about cf">
  <div class="bio fadeIn">
    <h3>Who Am I ?</h3>
    <img src="<%= asset_path('bio.JPG') %>"/>
    <h5> Simon Somlai </h5>
    <div class="slider">
      <ul>
        <li><strong>Strengths: </strong> Analytical Thinking, Organizing Data, Creating Systems, Problem-Solving, Planning, Independent Work</li>
        <li><strong>Interests: </strong> Health, Self-Improvement, Writing, Psychology, Astronomy, Technology, Science-Fiction/Fantasy</li>
        <li><strong>Hobbies: </strong> Lifting Heavy Things, Reading Books, Strategic Board Games, Blogging, Eating A Lot</li>
      </ul>
    </div>
  </div>

  <div class="skills fadeIn">
    <h3>How Do I Work ?</h3>
    <img class="html" src="<%= asset_path('html.png') %>"/>
    <img class="css" src="<%= asset_path('css.png') %>"/>
    <img class="js" src="<%= asset_path('js.png') %>"/>
    <img class="ruby" src="<%= asset_path('ruby.png') %>"/>
  </div>
</section>

<hr class="divider"/>

<section class="services">
  <h3> How Can I Help ?</h3>
  <div class="serviceoptions fadeIn">
  <ul class="serviceoptionslist">
    <li><a class="psd" href="#">PSD To HTML/CSS</a>
      <ul>
        <li>W3C Validated</li>
        <li>Responsive Layout</li>
        <li>Background Video/Slider/Carousel</li>
      </ul>
    </li>

    <li><a class="land" href="#">Create Landing Pages</a>
    <ul>
        <li>W3C Validated</li>
        <li>Responsive Layout</li>
        <li>Background Video/Slider/Carousel</li>
        <li>Custom Forms</li>
        <li>Aweber/Mailchimp Integration</li>
      </ul>
    </li>

    <li><a class="app" href="#">Build Web Applications</a>
    <ul>
        <li>Ruby On Rails Application</li>
        <li>Login Function</li>
        <li>Content Management Page</li>
        <li>Forms Delivered To Email</li>
      </ul>
    </li>
  </ul>
</div>
  <div class="serviceimages fadeIn">
    <img class="psd" src="<%= asset_path('psd.png') %>"/>
    <img class="land" src="<%= asset_path('land.png') %>"/>
    <img class="app" src="<%= asset_path('app.png') %>"/>
  </div>
</section>

<hr class="divider"/>

<section class="contact fadeIn">
  <a href="<%= new_contact_path %>" class="button red">Contact Me! ♥</a>
</section>
</div>
